<h3 style="margin-left:38%;margin-top:10px">There are a total of <%= @books.total_count %> books.</h3>
<a href="/" class="card-link" style="margin-left:45%">Back to Home Page</a>
<div class="container" style="margin-top:50px">  
  <% @books.each do |book| %>
    <div class="card mb-3" style="width: 300px; display: inline-block;">
      <div class="card-header">Title-<%= book.title %></div>
      <div class="card-body">
        <h5 class="card-title">Author-<%= book.author %></h5>
        <p class="card-text">Pages-<%= book.pages %></p>
        <%= form_with url: send_email_path, method: :post do |f| %>
          <%= hidden_field_tag :book_id, book.id %>
          <%= f.submit "Request" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="pagination">
    <%= paginate @books %>
  </div>
</div>
